SO_FINISHING_CLOSE.json
{
  "name": "SO_FINISHING_CLOSE",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        16
      ],
      "id": "490452ed-367b-47f9-9ed7-4c9051ad3ef7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "query": "SELECT\n    so.order_no,\n    so.release_no,\n    so.sequence_no,\n    so.contract,\n    so.part_no,\n    rlb.lote,\n    so.qty_complete,\n    /* Lotes */\n    NVL(rlb.numero_de_lotes, 0) AS numero_de_lotes,\n    NVL(rlb.reserved_qty, 0)    AS reserved_qty,\n    /* Work centers NO OK */\n    NVL(wc.num_wc_no_90, 0)     AS num_work_center_no_no_90,\n    IFSAPP.Inventory_Putaway_Manager_API.Get_Next_Putaway_Event_Id as Number_\nFROM ifsapp.shop_ord so\n/* ===========================\n   Lotes reservados\n   =========================== */\nLEFT JOIN (\n    SELECT\n        lot_batch_no as LOTE,\n        order_ref1 AS order_no,\n        order_ref2 AS release_no,\n        order_ref3 AS sequence_no,\n        COUNT(*) AS numero_de_lotes,\n        SUM(reserved_qty) AS reserved_qty\n    FROM ifsapp.reserved_lot_batch\n    GROUP BY\n        order_ref1,\n        order_ref2,\n        order_ref3,\n        lot_batch_no\n) rlb\n  ON rlb.order_no    = so.order_no\n AND rlb.release_no  = so.release_no\n AND rlb.sequence_no = so.sequence_no\n/* ===========================\n   Work centers con estado ≠ 90\n   =========================== */\nLEFT JOIN (\n    SELECT\n        order_no,\n        release_no,\n        sequence_no,\n        COUNT(*) AS num_wc_no_90\n    FROM ifsapp.shop_order_operation\n    WHERE oper_status_code_db <> 90\n    GROUP BY\n        order_no,\n        release_no,\n        sequence_no\n) wc\n  ON wc.order_no    = so.order_no\n AND wc.release_no  = so.release_no\n AND wc.sequence_no = so.sequence_no\nWHERE so.contract = 'AMO'\n  AND so.state = 'Started'\n  AND so.part_no <> 'COMBIITEM'\n  AND so.qty_complete = 0\n  /* LAB = 90 */\n  AND EXISTS (\n        SELECT 1\n        FROM ifsapp.shop_order_operation op\n        WHERE op.order_no = so.order_no\n          AND op.release_no = so.release_no\n          AND op.sequence_no = so.sequence_no\n          AND op.work_center_no = 'LAB'\n          AND op.oper_status_code_db = 90\n      )\n  /* QINSP = 90 */\n  AND EXISTS (\n        SELECT 1\n        FROM ifsapp.shop_order_operation op\n        WHERE op.order_no = so.order_no\n          AND op.release_no = so.release_no\n          AND op.sequence_no = so.sequence_no\n          AND op.work_center_no = 'QINSP'\n          AND op.oper_status_code_db = 90\n      )\n  /* EMB = 90 ✅ NUEVO */\n  AND EXISTS (\n        SELECT 1\n        FROM ifsapp.shop_order_operation op\n        WHERE op.order_no = so.order_no\n          AND op.release_no = so.release_no\n          AND op.sequence_no = so.sequence_no\n          AND op.work_center_no = 'EMB'\n          AND op.oper_status_code_db = 90\n      )\n  /* ❌ Excluir órdenes con SBB% */\n  AND NOT EXISTS (\n        SELECT 1\n        FROM ifsapp.shop_order_operation op\n        WHERE op.order_no = so.order_no\n          AND op.release_no = so.release_no\n          AND op.sequence_no = so.sequence_no\n          AND op.work_center_no LIKE 'SBB%'\n      )",
        "poolOptions": {}
      },
      "type": "@rempel/n8n-nodes-oracle.oracle",
      "typeVersion": 1,
      "position": [
        -368,
        16
      ],
      "id": "ad95c39e-ad1b-4a78-bf3a-662bc1292e8d",
      "name": "Query database",
      "credentials": {
        "oracleApi": {
          "id": "nyxPmQOvgDO0vvFg",
          "name": "IFS"
        }
      }
    },
    {
      "parameters": {
        "operation": "execute",
        "query": "=DECLARE\n   -- p0 -> i_hWndFrame.dlgReceiveReserveLot_Cust.lsInfo\n   p0_ VARCHAR2(32000) := '';\n\n   -- p1 -> i_hWndFrame.dlgReceiveReserveLot_Cust.sPutawayEventId\n   p1_ FLOAT := {{ $json.NUMBER_ }};\n\n   -- p2 -> i_hWndFrame.dlgReceiveReserveLot_Cust.dfsOrder\n   p2_ VARCHAR2(32000) := '{{ $json.ORDER_NO }}';\n\n   -- p3 -> i_hWndFrame.dlgReceiveReserveLot_Cust.dfsRelease\n   p3_ VARCHAR2(32000) := '{{ $json.RELEASE_NO }}';\n\n   -- p4 -> i_hWndFrame.dlgReceiveReserveLot_Cust.dfsSequence\n   p4_ VARCHAR2(32000) := '{{ $json.SEQUENCE_NO }}';\n\n   -- p5 -> i_hWndFrame.dlgReceiveReserveLot_Cust.dfsEngChgLevel\n   p5_ VARCHAR2(32000) := '1';\n\n   -- p6 -> i_hWndFrame.dlgReceiveReserveLot_Cust.sAutoReport\n   p6_ VARCHAR2(32000) := 'Yes';\n\n   -- p7 -> i_hWndFrame.dlgReceiveReserveLot_Cust.sBackflush\n   p7_ VARCHAR2(32000) := 'No';\n\n   -- p8 -> i_hWndFrame.dlgReceiveReserveLot_Cust.sReceivedPartSource\n   p8_ VARCHAR2(32000) := 'Shop Order';\n\n   -- p9 -> i_hWndFrame.dlgReceiveReserveLot_Cust.nCostDetailId\n   p9_ FLOAT := NULL;\n\n   -- p10 -> i_hWndFrame.dlgReceiveReserveLot_Cust.lsSendMessage\n   p10_ VARCHAR2(32000) := '!\n$CONDITION_CODE=\n$LOCATION_NO=FG\n$LOT_BATCH_NO={{ $json.LOTE }}\n$WAIV_DEV_REJ_NO=\n$EXPIRATION_DATE=\n$AVAILABILITY_CONTROL_ID=\n$CATCH_QTY=0\n$RESERVED_QTY={{ $json.RESERVED_QTY }}\n';\n\n   -- p11 -> i_hWndFrame.dlgReceiveReserveLot_Cust.sSimplifiedMaterial\n   p11_ VARCHAR2(32000) := 'No';\n\n   -- p12 -> i_hWndFrame.dlgReceiveReserveLot_Cust.sRemovePutawayEvent\n   p12_ VARCHAR2(32000) := 'TRUE';\n\nBEGIN\nIFSAPP.Shop_Ord_Util_API.Receive_Lots_In_Message__(p0_ , p1_ , p2_ , p3_ , p4_ , p5_ , p6_ , p7_ , p8_ , p9_ , p10_ , p11_ , p12_ );\n\n\n\nEND;\n",
        "poolOptions": {}
      },
      "type": "@rempel/n8n-nodes-oracle.oracle",
      "typeVersion": 1,
      "position": [
        80,
        160
      ],
      "id": "1e529caa-7b84-4da4-b756-830f64e0ade2",
      "name": "Execute database",
      "credentials": {
        "oracleApi": {
          "id": "nyxPmQOvgDO0vvFg",
          "name": "IFS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        16
      ],
      "id": "66aba5f9-38be-43fc-b030-f481f3c34e9e",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "execute",
        "query": "=DECLARE\n\n   -- p0 -> i_hWndFrame.dlgReceiveReserveLot_Cust.dfsOrder\n   p0_ VARCHAR2(32000) := '{{ $json.ORDER_NO }}';\n\n   -- p1 -> i_hWndFrame.dlgReceiveReserveLot_Cust.dfsRelease\n   p1_ VARCHAR2(32000) := '{{ $json.RELEASE_NO }}';\n\n   -- p2 -> i_hWndFrame.dlgReceiveReserveLot_Cust.dfsSequence\n   p2_ VARCHAR2(32000) := '{{ $json.SEQUENCE_NO }}';\n\n  \n\nBEGIN\n\nIFSAPP.Shop_Ord_API.Close_So_Under_Issue(p0_ , \n p0_ , \n p1_ , \n p2_ );\n\n\nEND;\n",
        "poolOptions": {}
      },
      "type": "@rempel/n8n-nodes-oracle.oracle",
      "typeVersion": 1,
      "position": [
        480,
        -80
      ],
      "id": "f969f5b9-55f7-4ad9-a1d7-21cd518d69bb",
      "name": "Execute database1",
      "credentials": {
        "oracleApi": {
          "id": "nyxPmQOvgDO0vvFg",
          "name": "IFS"
        }
      }
    },
    {
      "parameters": {
        "query": "SELECT\n    so.order_no,\n    so.release_no,\n    so.sequence_no,\n    so.contract,\n    so.part_no,\n    so.qty_complete,\n    /* Work centers NO OK */\n    NVL(wc.num_wc_no_90, 0)     AS num_work_center_no_no_90,\n    IFSAPP.Inventory_Putaway_Manager_API.Get_Next_Putaway_Event_Id as Number_\nFROM ifsapp.shop_ord so\n\n/* ===========================\n   Work centers con estado ≠ 90\n   =========================== */\nLEFT JOIN (\n    SELECT\n        order_no,\n        release_no,\n        sequence_no,\n        COUNT(*) AS num_wc_no_90\n    FROM ifsapp.shop_order_operation\n    WHERE oper_status_code_db <> 90\n    GROUP BY\n        order_no,\n        release_no,\n        sequence_no\n) wc\n  ON wc.order_no    = so.order_no\n AND wc.release_no  = so.release_no\n AND wc.sequence_no = so.sequence_no\nWHERE so.contract = 'AMO'\n  AND so.state = 'Started'\n  AND so.part_no <> 'COMBIITEM'\n\n  /* LAB = 90 */\n  AND EXISTS (\n        SELECT 1\n        FROM ifsapp.shop_order_operation op\n        WHERE op.order_no = so.order_no\n          AND op.release_no = so.release_no\n          AND op.sequence_no = so.sequence_no\n          AND op.work_center_no = 'LAB'\n          AND op.oper_status_code_db = 90\n      )\n  /* QINSP = 90 */\n  AND EXISTS (\n        SELECT 1\n        FROM ifsapp.shop_order_operation op\n        WHERE op.order_no = so.order_no\n          AND op.release_no = so.release_no\n          AND op.sequence_no = so.sequence_no\n          AND op.work_center_no = 'QINSP'\n          AND op.oper_status_code_db = 90\n      )\n  /* EMB = 90 ✅ NUEVO */\n  AND EXISTS (\n        SELECT 1\n        FROM ifsapp.shop_order_operation op\n        WHERE op.order_no = so.order_no\n          AND op.release_no = so.release_no\n          AND op.sequence_no = so.sequence_no\n          AND op.work_center_no = 'EMB'\n          AND op.oper_status_code_db = 90\n      )\n  /* ❌ Excluir órdenes con SBB% */\n  AND NOT EXISTS (\n        SELECT 1\n        FROM ifsapp.shop_order_operation op\n        WHERE op.order_no = so.order_no\n          AND op.release_no = so.release_no\n          AND op.sequence_no = so.sequence_no\n          AND op.work_center_no LIKE 'SBB%'\n      )",
        "poolOptions": {}
      },
      "type": "@rempel/n8n-nodes-oracle.oracle",
      "typeVersion": 1,
      "position": [
        -16,
        -192
      ],
      "id": "203c8ebe-48ee-4b9f-9100-6ef676f3e3d1",
      "name": "Query database1",
      "credentials": {
        "oracleApi": {
          "id": "nyxPmQOvgDO0vvFg",
          "name": "IFS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        -176
      ],
      "id": "ab59f131-89ef-41ea-8dd6-a43b4531ce5f",
      "name": "Loop Over Items1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Query database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query database": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Query database1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute database": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query database1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute database1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Execute database1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "aa757acb-99a3-44b6-9572-bfd09d451216",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3b39ab546dd04c11c459dfda90e29295e9894742349e302def1a0298f40747c"
  },
  "id": "21T7HthEtcp1WVO0",
  "tags": []
}